<!doctype html>

<html lang="en" th:replace="~{parent :: base(~{::#content},~{::script})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section id="content" class="pl-64 pt-20" style="height:1000px">
  <div th:if="${loggedinuser}">
    <div data-th-replace="~{user/sidebar :: sidebar}"></div>
  </div>

<div class="contacts_container p-5">
  <div class=" overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">


    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr

      >

        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Phone
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr
              data-th-object="${c}"
              data-th-each="c : ${pageContact.getContent()}"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

        <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
          <img onerror="this.src='https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?t=st=1732990208~exp=1732993808~hmac=41cca865a52bd7be3f87403a01089d0b9cc4d5e39da11b2a4fa11fd7469ce804&w=740'"   data-th-src="@{*{picture}}" class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Jese image">
          <div class="ps-3">
            <div class="text-base font-semibold" data-th-text="*{name}">Neil Sims</div>
            <div class="font-normal text-gray-500" data-th-text="*{email}">neil.sims@flowbite.com</div>
          </div>
        </th>
        <td class="px-6 py-4" >
          <i class="fa-solid fa-phone w-4 h-4 "></i>
          <span data-th-text="*{phoneNumber}"></span>
        </td>
        <td class="px-6 py-4">
          <div class="flex items-center">
            <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
            <a data-th-href="*{websiteLink}" target="_blank"><i class="fa-solid  w-5 h-5 fa-globe"></i></a>
            <a data-th-href="*{linkedInLink}" target="_blank"><i class="w-5 h-5 fa-brands fa-linkedin"></i></a>

          </div>

        </td>
        <td class="px-6 py-4">
          <a> <i class="fa-regular w-5 h-5 fa-trash-can"></i></a>
          <a> <i class="fa-solid  w-5 h-5 fa-pen"></i></a>
          <a><i class="fa-regular w-5 h-5 fa-eye"></i></a>
        </td>
      </tr>
   </tbody>
    </table>


    </div>
  </div>
</div>
</section>
</body>
</html>

<!--Please do include websocket , jms , spring scheduler and spring batch concept and implementation.-->